.teamsGroups .groupTeams li .teamFlag.brasil{
  background-image: url('images/flags/brasil.png');
}
.teamsGroups .groupTeams li .teamFlag.camerun{
  background-image: url('images/flags/camerun.png');
}
.teamsGroups .groupTeams li .teamFlag.mexico{
  background-image: url('images/flags/mexico.png');
}
.teamsGroups .groupTeams li .teamFlag.croacia{
  background-image: url('images/flags/croacia.png');
}
.teamsGroups .groupTeams li .teamFlag.espana{
  background-image: url('images/flags/espana.png');
}
.teamsGroups .groupTeams li .teamFlag.holanda{
  background-image: url('images/flags/holanda.png');
}
.teamsGroups .groupTeams li .teamFlag.chile{
  background-image: url('images/flags/chile.png');
}
.teamsGroups .groupTeams li .teamFlag.australia{
  background-image: url('images/flags/australia.png');
}
.teamsGroups .groupTeams li .teamFlag.colombia{
  background-image: url('images/flags/colombia.png');
}
.teamsGroups .groupTeams li .teamFlag.grecia{
  background-image: url('images/flags/grecia.png');
}
.teamsGroups .groupTeams li .teamFlag.costademarfil{
  background-image: url('images/flags/costademarfil.png');
}
.teamsGroups .groupTeams li .teamFlag.japon{
  background-image: url('images/flags/japon.png');
}
.teamsGroups .groupTeams li .teamFlag.uruguay{
  background-image: url('images/flags/uruguay.png');
}
.teamsGroups .groupTeams li .teamFlag.costarica{
  background-image: url('images/flags/costarica.png');
}
.teamsGroups .groupTeams li .teamFlag.inglaterra{
  background-image: url('images/flags/inglaterra.png');
}
.teamsGroups .groupTeams li .teamFlag.italia{
  background-image: url('images/flags/italia.png');
}
.teamsGroups .groupTeams li .teamFlag.suiza{
  background-image: url('images/flags/suiza.png');
}
.teamsGroups .groupTeams li .teamFlag.ecuador{
  background-image: url('images/flags/ecuador.png');
}
.teamsGroups .groupTeams li .teamFlag.francia{
  background-image: url('images/flags/francia.png');
}
.teamsGroups .groupTeams li .teamFlag.honduras{
  background-image: url('images/flags/honduras.png');
}
.teamsGroups .groupTeams li .teamFlag.argentina{
  background-image: url('images/flags/argentina.png');
}
.teamsGroups .groupTeams li .teamFlag.bosnia{
  background-image: url('images/flags/bosnia.png');
}
.teamsGroups .groupTeams li .teamFlag.iran{
  background-image: url('images/flags/iran.png');
}
.teamsGroups .groupTeams li .teamFlag.nigeria{
  background-image: url('images/flags/nigeria.png');
}
.teamsGroups .groupTeams li .teamFlag.alemania{
  background-image: url('images/flags/alemania.png');
}
.teamsGroups .groupTeams li .teamFlag.portugal{
  background-image: url('images/flags/portugal.png');
}
.teamsGroups .groupTeams li .teamFlag.ghana{
  background-image: url('images/flags/ghana.png');
}
.teamsGroups .groupTeams li .teamFlag.estadosunidos{
  background-image: url('images/flags/estadosunidos.png');
}
.teamsGroups .groupTeams li .teamFlag.belgica{
  background-image: url('images/flags/belgica.png');
}
.teamsGroups .groupTeams li .teamFlag.argelia{
  background-image: url('images/flags/argelia.png');
}
.teamsGroups .groupTeams li .teamFlag.rusia{
  background-image: url('images/flags/rusia.png');
}
.teamsGroups .groupTeams li .teamFlag.coreadelsur{
  background-image: url('images/flags/coreadelsur.png');
}