li .teamRoundFlag.brasil{
  background-image: url('images/roundFlags/brasil.png');
}
li .teamSquareFlag.brasil{
  background-image: url('images/squareFlags/brasil.png');
}
li .teamRoundFlag.camerun{
  background-image: url('images/roundFlags/camerun.png');
}
li .teamRoundFlag.mexico{
  background-image: url('images/roundFlags/mexico.png');
}
li .teamRoundFlag.croacia{
  background-image: url('images/roundFlags/croacia.png');
}
li .teamRoundFlag.espana{
  background-image: url('images/roundFlags/espana.png');
}
li .teamRoundFlag.holanda{
  background-image: url('images/roundFlags/holanda.png');
}
li .teamRoundFlag.chile{
  background-image: url('images/roundFlags/chile.png');
}
li .teamRoundFlag.australia{
  background-image: url('images/roundFlags/australia.png');
}
li .teamRoundFlag.colombia{
  background-image: url('images/roundFlags/colombia.png');
}
li .teamRoundFlag.grecia{
  background-image: url('images/roundFlags/grecia.png');
}
li .teamRoundFlag.costademarfil{
  background-image: url('images/roundFlags/costademarfil.png');
}
li .teamRoundFlag.japon{
  background-image: url('images/roundFlags/japon.png');
}
li .teamRoundFlag.uruguay{
  background-image: url('images/roundFlags/uruguay.png');
}
li .teamRoundFlag.costarica{
  background-image: url('images/roundFlags/costarica.png');
}
li .teamRoundFlag.inglaterra{
  background-image: url('images/roundFlags/inglaterra.png');
}
li .teamRoundFlag.italia{
  background-image: url('images/roundFlags/italia.png');
}
li .teamRoundFlag.suiza{
  background-image: url('images/roundFlags/suiza.png');
}
li .teamRoundFlag.ecuador{
  background-image: url('images/roundFlags/ecuador.png');
}
li .teamRoundFlag.francia{
  background-image: url('images/roundFlags/francia.png');
}
li .teamRoundFlag.honduras{
  background-image: url('images/roundFlags/honduras.png');
}
li .teamRoundFlag.argentina{
  background-image: url('images/roundFlags/argentina.png');
}
li .teamRoundFlag.bosnia{
  background-image: url('images/roundFlags/bosnia.png');
}
li .teamRoundFlag.iran{
  background-image: url('images/roundFlags/iran.png');
}
li .teamRoundFlag.nigeria{
  background-image: url('images/roundFlags/nigeria.png');
}
li .teamRoundFlag.alemania{
  background-image: url('images/roundFlags/alemania.png');
}
li .teamRoundFlag.portugal{
  background-image: url('images/roundFlags/portugal.png');
}
li .teamRoundFlag.ghana{
  background-image: url('images/roundFlags/ghana.png');
}
li .teamRoundFlag.estadosunidos{
  background-image: url('images/roundFlags/estadosunidos.png');
}
li .teamRoundFlag.belgica{
  background-image: url('images/roundFlags/belgica.png');
}
li .teamRoundFlag.argelia{
  background-image: url('images/roundFlags/argelia.png');
}
li .teamRoundFlag.rusia{
  background-image: url('images/roundFlags/rusia.png');
}
li .teamRoundFlag.coreadelsur{
  background-image: url('images/roundFlags/coreadelsur.png');
}