 
/* Groups style */
.group {
  margin-top: 25px;
}
.groupLetter {
  text-align: center;
  background-color: cornflowerblue;
  padding: 7px;
  border-radius: 7px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  opacity: 0.9
}
.groupLetter.grpA{
  background-color: #2d9122;
}
.groupLetter.grpB{
  background-color: #e69500;
}
.groupLetter.grpC{
  background-color: #0053a0;
}
.groupLetter.grpD{
  background-color: #ff748c;
}
.groupLetter.grpE{
  background-color: #ff4d4d;
}
.groupLetter.grpF{
  background-color: #389ed8;
}
.groupLetter.grpG{
  background-color: #cece31;
}
.groupLetter.grpH{
  background-color: #a62f70;
}
.groupTeams {
  padding: 0;
  list-style-type: none;
}
.groupTeams li {
  background: whitesmoke;
  padding: 6px;
  border-radius: 5px;
  opacity: 0.85;
  margin: 11px;
  padding-top: 5px;
  padding-bottom: 1px;
}
.groupTeams li .teamFlag {
  height: 35px;
  width: 35px;
  margin-left: -17px;
  margin-top: -7px;
  background: whitesmoke;
  position: absolute;
  border-radius: 20px;
  background-size: cover;
}
.groupTeams li .teamName {
  margin: 0px;
  text-align: center;
  font-size: 16px;
  color: darkslategray;
  text-transform: uppercase;
  margin-left: 19px;
  /*font-weight: bold;*/
}
