/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
/*  background-image: url('http://www.newgrass.com.ar/templates/images/background/2.jpg');*/
  background-image: url('images/grass.jpg');
  /*background-size: cover;*/
  font-family: Verdana;
}

.navbar {
  background-color: rgba(56,56,56, 0.6);
  border-color: #004e00;
  border: none;
/*  border-radius: 10px;*/
}

.navbar-brand {
  margin-left: 16px;
  font-size: 26px;
  color: white !important; 
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.container.ng-scope {
  background-color: rgba(56,56,56, 0.45);
  padding-top: 6px;
  border-radius: 10px;
}

.sectionTitle {
  text-align: center;
  color: white;
  font-size: 30px;
  opacity: 0.8;
}

li a {
  color: white !important; 
}

li.active a {
  background-color: green !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(0, 255, 0, 0.15);
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin: 25px;
  opacity: 0.6;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


