/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('http://www.newgrass.com.ar/templates/images/background/2.jpg');
  background-size: cover;
  font-family: Verdana;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  line-height: 40px;
  padding-bottom: 19px;
  color: #5aad5a;
  font-size: 33px;
}

.sectionTitle {
  text-align: center;
  color: white;
  font-size: 45px;
  opacity: 0.8;
}
li a {
  color: white !important; 
}

li.active a {
  background-color: green !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(0, 255, 0, 0.15);
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin: 25px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


