
@font-face {
	font-family: worldCupFont;
	src: url('fonts/Brasil World Cup 2014 font.otf');
}
 

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('images/grass.jpg');
  font-family: Verdana;
}

.hidden {
    display: none;
}

/*Alerts>>*/
.alertDiv {
  position: fixed;
  width: 240px;
  top: 0px;
  left: 50%;
  margin-left: -120px;
  opacity: 0.83;
  z-index: 1;
}
.alertDiv .alert-success {
  color: black;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 5px;
  margin-bottom: 8px;
  opacity: 0.7;
}
/*<<Alerts*/


/*Top Navbar Menu>>*/
.navbar {
  background-color: rgba(56,56,56, 0.6);
  border-color: #004e00;
  border: none;
}

.navbar-brand {
  margin-left: 16px;
  font-size: 24px;
  color: white !important; 
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
  font-size: 14px;
}
/*Top Navbar Menu>>*/

/*Nav Menu>>*/
.nav li a {
  color: white !important; 
}
.nav li.active a {
  background-color: green !important;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(0, 255, 0, 0.12) !important;
}
/*<<Nav Menu>>*/

/*Ayer, hoy y mañana>>*/
  .homeDayMatches {
    padding-left: 40px;
    padding-right: 40px;
  }
  .homeDayMatches .groupTeams li .teamRoundFlag.right {
    right: 39px;
    margin-top: -20px;
  }

/*<<Ayer, hoy y mañana*/

/*Titles>>*/
.sectionTitle {
  text-align: center;
  color: white;
/*  font-family: 'Indie Flower', cursive;*/
  font-family: worldCupFont;
  font-size: 27px;
}

.sectionTitle.twitter {
  color: #5ea9dd;
}
/*<<Titles*/

/*Container style>>*/
.container.ng-scope {
  background-color: rgba(56,56,56, 0.45);
  padding-top: 6px;
  border-radius: 10px;
}
/*<<Container style>>*/

/*Social icons Header>>*/
.shareSocial a {
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 5px;
  margin-top: 12px;
  margin-left: 7px;
  margin-bottom: 9px;
  border-radius: 30px;
  background: url(../../styles/images/social/social-sprite3.png) no-repeat;
  opacity: 0.8;
}

.shareSocial a.fb {
  background-position: -29px -59px;
}
.shareSocial a.fb:hover {
  background-position: -29px -31px;
}
.shareSocial a.tw {
  background-position: -1px -59px;
}
.shareSocial a.tw:hover {
  background-position: -1px -31px;
}
/*<<Social icons Header>>*/

/*Twits>>*/
.twitsContainer a, .twitter a {
  color: #5ea9dd;
  text-decoration: none;
}
.twitsContainer {
  height: 350px;
  overflow-y: scroll;
}
.twits {
  color: white;
}
.twits .twtRow {
  width: 93%;
  margin-left: 12px;
}
.twits img{
  border-radius: 25px;
  padding-top: 5px;
  height: 40px;
  width: 37px;
}
.twits .twtText {
  padding-right: 0px;
}
.twits .twtText .twittero {
  font-size: 15px; 
  color: #5ea9dd;
}
.twits .twtText .twitMsg {
  font-size: 12px;
  width: 90%;
}
.twits .actionBtns {
  text-align: right;
  padding-right: 35px;
}
.twits .actionBtns a{
  margin-left: 15px;
}
/*<<Twits*/

/*Facebook>>*/
.fbLikes {
  background: rgba(255,255,255,0.5);
  padding: 10px;
  border-radius: 8px;
  padding-bottom: 4px;
}
/*<<Facebook*/

/*Nota>>*/
.nota {
  width: 235px;
  margin-left: auto;
  margin-right: auto;
}
.nota img {
  width: 100%;
  height: 160px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}
.nota .title {
  color: white;
  background: rgba(0,0,0,0.6);
  font-size: 20px;
  text-align: center;
  position: relative;
  top: -35px;
  height: 35px;
  padding-top: 3px;
  cursor: pointer;
}
.nota .pre {
  font-size: 12px;
  color: white;
  background: rgba(0,0,0,0.65);
  padding: 7px;
  position: relative;
  top: -35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nota .pre p{
  padding-top: 4px;
  padding: 5px;
  padding-bottom: 0px;
}
/*<<Nota*/

/*For mobile views>>*/
.mobileOnly {
  display: none;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .mobileOnly {
    display: block;
  }
  .pcOnly {
    display: none;
  }
  
  /*Top Navbar Menu>>*/
  .navbar-brand {
    font-size: 19px;
  }
  .navbar-nav.navbar-right:last-child {
    font-size: 16px;
  }
  .nav li.active a {
    font-size: 12px;
  }
  /*<<Top Navbar Menu*/
  
  .homeDayMatches {
    padding-left: 35px;
    padding-right: 35px;
  }   
}
/*<<For mobile views*/



