<div class="groupLetter grp{{groupL}}">
  <table> 
    <td> Grupo {{groupL}}  </td>
    <td> JU </td>
    <td> GA </td>
    <td> EM </td>
    <td> PE </td>
    <td> GF </td>
    <td> GC </td>
    <td> PU </td>
  </table>
</div>
<ul class="groupTeams">
  <li ng-repeat="team in teamsData | filter:{group: groupL}" class="animation">
    <div class="teamRoundFlag {{team.nameId}}"> </div>
    <table> 
      <td class="teamName"> {{team.abr}} </td>
      <td class="num played"> 0 </td>
      <td class="num wins"> 0 </td>
      <td class="num draws"> 0 </td>
      <td class="num looses"> 0 </td>
      <td class="num gf"> 0 </td>
      <td class="num gc"> 0 </td>
      <td class="num points"> 0 </td>
  </table>
  </li>
</ul>