<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/main" style="padding: 6px;">
        <img src="styles/images/logos/BdF_Logo.png" style="height: 38px;">
        Bocha de Futbol 
        <span style="font-size: 11px;
            position: relative;
            top: 13px;
            left: -33px;
            color: darkkhaki;"> 
          Beta 
        </span>
      </a>
    </div>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="mainButton">    <a ng-href="#/main">Inicio</a></li>
        <li id="teamsButton">  <a ng-href="#/teamsbygroup">Equipos</a></li>
        <li id="matchesButton"> <a ng-href="#/matchesbygroup">Fixture</a></li>
<!--        <li id="groupsButton">  <a ng-href="#/groups">Canchas</a></li>-->
      </ul>
      <div class="shareSocial">
        <a class="fb" href="https://www.facebook.com/bochadefutbol?ref=hl" target="_blank"></a>
        <a class="tw" href="https://twitter.com/bochadefutbol" target="_blank"></a>
      </div>
    </div>
  </div>
</nav>

  




