<div class="pcOnly" style="width: 100%;
            background: url('-http://3.bp.blogspot.com/-9g6gKyhREp4/Uo4IVNEOM0I/AAAAAAAAGJA/NvPt47xInAs/s1600/BRASIL+2014.png');
            border-radius: 9px;
            background-size: 100% 100px;
            margin-top: 10px;">
  <div id="DateCountdown_dh" data-date="2014-06-12 17:00:00" 
       style="width: 300px; 
              height: 75px; 
              padding: 0px;
              margin-left: auto;
              margin-right: auto;
              color: blanchedalmond;">
  </div>
</div>

<div id="DateCountdown_dhMobile" class="mobileOnly" data-date="2014-06-12 17:00:00" 
     style="width: 270px; 
            height: 67px; 
            padding: 0px;
            margin-left: auto;
            margin-right: auto;
            color: blanchedalmond;">
</div>

<script type="text/javascript">
  $("#DateCountdown_dh").TimeCircles({
    "animation": "smooth",
    "bg_width": 0.3,
    "fg_width": 0.06,
    "circle_bg_color": "#90989F",
    "time": {
        "Days": {
            "text": "Days",
            "color": "#ea4e49",
            "show": true
        },
        "Hours": {
            "text": "Hours",
            "color": "#3695c6",
            "show": true
        },
        "Minutes": {
            "text": "Minutes",
            "color": "#d28d04",
            "show": true
        },
        "Seconds": {
            "text": "Seconds",
            "color": "#2c8a21",
            "show": true
        }
    }
  });
  $("#DateCountdown_dhMobile").TimeCircles({
    "animation": "smooth",
    "bg_width": 0.3,
    "fg_width": 0.06,
    "circle_bg_color": "#90989F",
    "time": {
        "Days": {
            "text": "Days",
            "color": "#ea4e49",
            "show": true
        },
        "Hours": {
            "text": "Hours",
            "color": "#3695c6",
            "show": true
        },
        "Minutes": {
            "text": "Minutes",
            "color": "#d28d04",
            "show": true
        },
        "Seconds": {
            "text": "Seconds",
            "color": "#2c8a21",
            "show": true
        }
    }
  });
  $('.textDiv_Days h4').html('D');
  $('.textDiv_Hours h4').html('H');
  $('.textDiv_Minutes h4').html('M');
  $('.textDiv_Seconds h4').html('S');
</script>