<div class="row">
  <div class="col-md-6">
    <div class="nota"> 
      <img src="http://bucket1.clanacion.com.ar/anexos/fotos/89/eliminatorias-1766289w620.jpg" />
      <div class="title"> La selección </div>
      <div class="pre"> 
        <p> Enterate de las últimas noticias de la Seleccion Argentina. -Proximamente- </p>
      </div>
    </div>
  </div>    
  <div class="col-md-6">
      <div class="nota"> 
      <img src="http://www.ole.com.ar/fuera-de-juego/Estadios-Mundial-Maracana_OLEIMA20130909_0151_24.jpg" />
      <div class="title"> Estadios </div>
      <div class="pre"> 
        <p> Mira los estadios en donde se jugará la copa del mundo. -Proximamente- </p>
      </div>
    </div>
  </div>
</div>