<div class="row">
  <div class="col-md-6">
    <div class="nota seleccion"> 
      <img src="../styles/images/news/seleccion.jpg" />
      <div class="title"> La selección </div>
      <div class="pre"> 
        <p> Mira el plantel y twitea por tu jugador favorito </p>
      </div>
      <script>
        $('.nota.seleccion img').click(function(){
           window.location = '#/teamdetails/argentina';
        })
        $('.nota.seleccion .title').click(function(){
           window.location = '#/teamdetails/argentina';
        })
      </script>
    </div>
  </div>    
  <div class="col-md-6">
    <div class="nota stadiums"> 
      <img src="../styles/images/news/arenaDaAmazonia.jpg" />
      <div class="title"> Estadios </div>
      <div class="pre"> 
        <p> Ya podés ver los estadios con Street View </p>
      </div>
      <script>
        $('.nota.stadiums img').click(function(){
           window.location = '#/stadiums';
        })
        $('.nota.stadiums .title').click(function(){
           window.location = '#/stadiums';
        })
      </script>
    </div>
  </div>
</div>