
<h3 class="sectionTitle twitter"> 
  <i class="fa fa-twitter"></i> 
  <a href="https://twitter.com/intent/user?screen_name=bochadefutbol" target="_blank">
    @bochadefutbol
  </a>
</h3>
<hr style="opacity: 0.8; width: 90%;">
<div class="twitsContainer">
  <div ng-repeat="twt in twts" class="twits"> 
    <div class="row twtRow">
      <div class="col-xs-2">
        <img src="{{twt.avatar}}" />
      </div>
      <div class="col-xs-10 twtText">
        <p class="twittero">
          <a href="https://twitter.com/intent/user?screen_name={{twt.name}}" target="_blank">
            @{{twt.name}}
          </a>
        </p>
<!--            {{twt.created_at}}-->
        <p class="twitMsg">{{twt.twt}}</p>
      </div>
    </div>
    <div class="col-12 actionBtns">
      <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      <a href="https://twitter.com/intent/tweet?in_reply_to={{twt.tweet_id}}"><i class="fa fa-reply"></i></a>
      <a href="https://twitter.com/intent/retweet?tweet_id={{twt.tweet_id}}"><i class="fa fa-retweet"></i></a>
      <a href="https://twitter.com/intent/favorite?tweet_id={{twt.tweet_id}}"><i class="fa fa-star"></i></a>
    </div>
    <hr style="opacity: 0.3;width: 50%;">
  </div>
</div>

