<ul class="groupTeams animation ng-scope">
  <li class="matchData">
    <p class="dateTime ng-binding">  12 de junio, 17:00 hs  </p>
  </li>
  <li class="teamsVs">
    <table>
      <tbody><tr>
        <td class="team1">
          <div class="teamRoundFlag inMtc brasil"> </div>
          <p class="teamName ng-binding"> BRA </p>
        </td>
        <td class="team1Res">
          <p class="teamName team1Res ng-binding"> x </p>
        </td>
        <td class="team2Res">
          <p class="teamName team2Res ng-binding"> x </p>
        </td>
        <td class="team2">
          <p class="teamName team2 ng-binding"> CRO </p>
          <div class="teamRoundFlag inMtc right croacia"> </div>
        </td>
      </tr>
    </tbody></table>
  </li>
</ul>