
<div class="teamsGroups">
  <div class="row">
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="A"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="B"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="C"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="D"> </div>
    </div>
  </div>
  <div class="row">
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="E"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="F"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="G"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-tms-teamsbygroup data-group="H"> </div>
    </div>
  </div>
</div>

<script>
  $('.navbar-right li').removeClass('active');
  $('#teamsButton').addClass('active');
  setTimeout( "$('#teamsButton').addClass('active');", 200);
</script>

