<!-- Styles-->
<link rel="stylesheet" href="styles/groups.css">
<!--/ Styles-->

<!-- Header -->
<div data-the-header data-active="groups"></div>
<!-- /Header -->

<h1 class="sectionTitle"> GROUPS </h1>

<div class="teamsGroups">
  <div class="row">
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="A"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="B"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="C"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="D"> </div>
    </div>
  </div>
  <div class="row">
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="E"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="F"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="G"> </div>
    </div>
    <div class="group col-xs-12 col-sm-6 col-md-3">
      <div data-grp-teamsbygroup data-group="H"> </div>
    </div>
  </div>
</div>

