<link rel="stylesheet" href="vendors/timeCircles/timeCircles.css">
<style>
  .time_circles h4 {
    font-size: 18px !important;
    padding-bottom: 8px !important;  
  }
</style>


<div style="width: 100%;
            background: url('http://3.bp.blogspot.com/-9g6gKyhREp4/Uo4IVNEOM0I/AAAAAAAAGJA/NvPt47xInAs/s1600/BRASIL+2014.png');
            border-radius: 9px;
            background-size: 100% 100px;
            margin-top: 10px;">
  <div id="DateCountdown_dh" data-date="2014-06-12 17:00:00" 
       style="width: 400px; 
              height: 100px; 
              padding: 0px;
              margin-left: auto;
              margin-right: auto;
              color: blanchedalmond;">
  </div>
</div>

<div class="row" style="padding-bottom: 22px;">
  <div class="col-md-6">
    <h3 style="color:white; text-align:center;margin-bottom: 14px;"> Quien es tu favorito? </h3>
    <img src="http://www.jidesoft.com/images/bar-chart-horizontal.png"
         style="width: 100%;padding-left: 13px;opacity: 0.8;">
  </div>
  <div class="col-md-6">
    <h3 style="color:white; text-align:center;margin-bottom: 14px;"> @bochadefutbol en Twitter </h3>
    <div ng-repeat="twt in twts" class="alert alert-success" style="background-color: #A5C299;border-color: #B4C5A5;"> 
      <p>{{twt.twt}}</p>
      <footer style="font-size: 10px;">{{twt.name}} in <cite title="Source Title">Twitter</cite></footer>
    </div>
  </div>
</div>

<!--
  <div class="col-md-6" style="padding-top: 27px;">
    <blockquote class="twitterMsgs" ng-repeat="twt in twts">
      <p>{{twt.twt}}</p>
      <footer>{{twt.name}} in <cite title="Source Title">Twitter</cite></footer>
    </blockquote>
  </div>
-->


<script src="vendors/timeCircles/timeCircles.js"></script>

<script type="text/javascript">
  $("#DateCountdown_dh").TimeCircles({
    "animation": "smooth",
    "bg_width": 0.6,
    "fg_width": 0.043333333333333335,
    "circle_bg_color": "#d4dce2",
    "time": {
        "Days": {
            "text": "Days",
            "color": "#63f835",
            "show": true
        },
        "Hours": {
            "text": "Hours",
            "color": "#fcf222",
            "show": true
        },
        "Minutes": {
            "text": "Minutes",
            "color": "#d12e36",
            "show": true
        },
        "Seconds": {
            "text": "Seconds",
            "color": "#190aff",
            "show": true
        }
    }
});
  $('.textDiv_Days h4').html('D');
  $('.textDiv_Hours h4').html('H');
  $('.textDiv_Minutes h4').html('M');
  $('.textDiv_Seconds h4').html('S');
</script>
<script>
  $('.navbar-right li').removeClass('active');
  $('#mainButton').addClass('active');
  setTimeout( "$('#mainButton').addClass('active');", 200);
</script>
