

<!--<div data-hm-clock></div>-->

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 homeDayMatches homeYesterday">
    <h3 class="sectionTitle"> Ayer </h3>
    <div data-hm-yesterday></div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 homeDayMatches homeToday">
    <h3 class="sectionTitle"> Hoy </h3>
    <div data-hm-today></div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 homeDayMatches homeTomorrow">
    <h3 class="sectionTitle"> Mañana </h3>
    <div data-hm-tomorrow></div>
  </div>
<!--
  <div class="col-sm-3 col-md-3">
    <div data-hm-twitter></div>
  </div>
-->
</div>


<div class="row" style="padding-bottom: 22px;">
  <div class="col-sm-6 col-md-8">
    <h3 class="sectionTitle"> Notas </h3>
    <hr style="opacity: 0.8;margin-top: 22px;">
    <div data-hm-news></div>
<!--    Facebook like>>-->
    <div class="row" style="padding-left: 45px;padding-right: 45px;">
      <div class="col-md-12 fbLikes">
        <iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/bochadefutbol&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80" 
              scrolling="no" frameborder="0" style="border:none; overflow:hidden;height: 58px;width: 100%;" 
              allowTransparency="true" id="theiframe"></iframe>
      </div>
<!--<<Facebook like-->
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div data-hm-twitter></div>
  </div>
</div>

<script>
  $('.navbar-right li').removeClass('active');
  $('#mainButton').addClass('active');
  setTimeout( "$('#mainButton').addClass('active');", 200);
</script>
