<!-- Styles-->
<link rel="stylesheet" href="styles/groups.css">
<link rel="stylesheet" href="styles/matches.css">
<!--/ Styles-->

<h1 class="sectionTitle"> PARTIDOS </h1>
  
<div class="teamsGroups">
  <div class="row">
    <div class="group col-xs-12 col-sm-3 col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="A"> </div>
    </div>
    <div class="group col-xs-12 col-sm-3 col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="B"> </div>
    </div>
    <div class="group col-xs-12 col-sm-3 col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="C"> </div>
    </div>
    <div class="group col-xs-12 col-sm-3 col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="D"> </div>
    </div>
  </div>
  <div class="row">
    <div class="group col-xs-12 col-sm-3  col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="E"> </div>
    </div>
    <div class="group col-xs-12 col-sm-3 col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="F"> </div>
    </div>
    <div class="group col-xs-12 col-sm-3 col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="G"> </div>
    </div>
    <div class="group col-xs-12 col-sm-3 col-md-3">
      <div class="groupMatches" data-mtc-listbygroup data-group="H"> </div>
    </div>
  </div>
</div>

<script>
  $('.navbar-right li').removeClass('active');
  $('#matchesButton').addClass('active');
  $('#matchesButton').addClass('active').delay(800).addClass('active');
</script>