<!-- Styles-->
<link rel="stylesheet" href="../../vendors/nibCalendar/nibCalendar.css">
<link rel="stylesheet" href="styles/teams.css">
<link rel="stylesheet" href="styles/matches.css">
<link rel="stylesheet" href="styles/flags.css">
<!--/ Styles-->

<!-- Nav list by-->
<div data-mtc-navlistby data-active="date"></div>
  
<style>
  .nibCalendar {
    max-width: 500px;
    border: 1px solid;
    border-color: darkcyan;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .matchesList {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .matchesList h3 {
    text-align: center;
    color: white;
    margin-top: 6px;
  }
</style>

<div class="row byDate">
  <div class="col-md-7">
    <div class="nibCalendar">
    </div>
  </div>
  <div class="col-md-5 matchesList">
    <h3 class="sectionTitle"> Partidos del dia </h3>
    <div data-mtc-listbydate></div>
  </div>
</div>

<script src="../../vendors/nibCalendar/nibCalendar.js"></script>
<script>
  nibCalendar.drawCal({
    lang: 'es',
    initDate: [2014, 5],
    eventDates: [12,13,14,15,16,17,18,19,20,21,22,22,24,25,26]
  });
</script>
<script>
  $('.navbar-right li').removeClass('active');
  $('#matchesButton').addClass('active');
  setTimeout( "$('#matchesButton').addClass('active');", 200);
</script>