<div class="groupLetter grp{{groupL}}">
  <table> 
    <td> Grupo {{groupL}}  </td>
    <td> Ju </td>
    <td> Ga </td>
    <td> En </td>
    <td> Pe </td>
    <td> Gf </td>
    <td> Gc </td>
    <td> Pts </td>
  </table>
</div>
<ul class="groupTeams">
  <li ng-repeat="team in teamsData | filter:{group: groupL}" class="animation">
    <div class="teamRoundFlag inTms {{team.nameId}}"> </div>
    <table> 
      <td class="teamName"> {{team.abr}} </td>
      <td class="num played"> 0 </td>
      <td class="num wins"> 0 </td>
      <td class="num draws"> 0 </td>
      <td class="num looses"> 0 </td>
      <td class="num gf"> 0 </td>
      <td class="num gc"> 0 </td>
      <td class="num points"> 0 </td>
  </table>
  </li>
</ul>